@import "tailwindcss";
@import "../styles/tokens.css";

@theme {
  /* Use p-50 as main dark primary */
  --color-primary: var(--color-p-50);

  /* Use p-900 as light text color */
  --color-primary-fg: var(--color-p-800);

  /* Optional secondary */
  --color-secondary: var(--color-p-300);
}
